<!-- ヘッダー　-->
<header class="flex justify-between items-center px-4 md:px-8 py-4">
  <!-- 左側：ロゴ　-->
  <div class="flex items-center">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "めしガチャ ロゴ", class: "h-8 sm:h-12 w-auto mr-2" %>
    <% end %>
  </div>
  <!-- 右側：新規登録・ログイン -->
  <nav class="space-x-6">
    <%= link_to "ログイン", new_user_session_path, class: "hidden sm:inline-block px-4 py-2 text-primary rounded-xl hover:bg-gray-200 transition font-semibold" %>
    <%= link_to "新規登録", new_user_registration_path, class: "hidden sm:inline-block px-4 py-2 text-primary rounded-xl hover:bg-gray-200 transition font-semibold" %>
    <!-- スマホ表示ボタン -->
    <div class="sm:hidden flex flex-row space-x-3">
      <%= link_to "ログイン", new_user_session_path, class: "sm:inline-block px-4 py-2 text-white rounded-xl bg-primary font-semibold" %>
      <%= link_to "新規登録", new_user_registration_path, class: "sm:inline-block px-4 py-2 text-white rounded-xl bg-primary font-semibold" %>
    </div>
  </nav>
</header>
